<header id="header" style="height: 102px">
    <section class="container clearfix">
        <div class="logo"><a href="index.html.twig"><img alt="" src="{{ asset('images/logo.jpg') }}"></a></div>
        <nav class="navigation">
            <ul>
                <li class="current_page_item"><a href="{{ path('logge') }}">Accueil</a>

                </li>

                <li><a href="{{ path('login') }}">Connexion</a>
                    <ul>
                        <li><a href="{{ path('login') }}">Profil</a></li>
                        <li><a href="edit_profile.html">Nouveau Membre</a></li>
                        <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                    </ul>
                </li>
                <li><a href="right_sidebar.html">Compétition</a>
                    <ul>
                        <li><a href="login.html">Agenda</a></li>
                        <li><a href="contact_us.html">Résultats</a></li>
                        <li><a href="contact_us.html">Classements</a></li>
                    </ul>
                </li>
                <li><a href="right_sidebar.html">Réglement</a></li>
                <li><a href="right_sidebar.html">Contact</a></li>
            </ul>
        </nav>
    </section><!-- End container -->
</header><!-- End header -->
